.ScrollSpy {
    .floatingHeader {
        position: sticky;
        box-sizing: border-box;
        margin: -20px -20px 0;
        top: -60px;
        z-index: 1;
    }

    .title {
        margin: 0;
        padding: 0 20px;
        height: 60px;
        font-size: 1.5rem;
        line-height: 60px;
        top: 0;
        background-color: #f0f0f0;
    }

    .nav {
        display: flex;
        flex-wrap: nowrap;
        height: 50px;
        box-sizing: border-box;
        margin: 0;
        padding: 0 20px;
        list-style: none;
        overflow-x: auto;
        overflow-y: hidden;
        border-bottom: 1px solid #555;
        background-color: #f0f0f0;
        scrollbar-width: thin;
    }

    .navItem {
        button {
            display: block;
            line-height: 44px;
            padding: 0 15px;
            border: 0;
            color: #666;
            font-size: 1.25rem;
            background-color: transparent;
            transition: ease-out 0.2s;

            &:hover {
                background-color: #ccc;
            }
        }

        &.current button {
            font-weight: 700;
            color: #fff;
            background-color: #479;
        }
    }

    .contents {
        margin: 0;
        padding: 0;
    }

    .content {
        overflow: hidden;
        padding: 24px 0;
        border-bottom: 1px solid #ddd;

        p {
            margin: 0;
            padding-top: 1em;
        }
    }
}

.ScrollSpy2,
.ScrollSpy3 {
    .content {
        position: relative;
    }

    .io-target {
        display: block;
        position: absolute;
        inset: min(50% - 1px, 50vh - 31px) 0 min(50%, 50vh - 30px);
        z-index: -1;
    }
}

.ScrollSpy3 {
    .nav {
        padding: 0 20px;
    }

    .navButton {
        position: absolute;
        top: 0;
        width: 25px;
        height: 40px;
        background-color: #333;
        border-radius: 5px;
        border: 0;
        outline: 0;
        opacity: 0.2;
        cursor: pointer;
        transition: opacity ease-out 0.2s;

        &:hover {
            opacity: 1;
        }

        &::before,
        &::after {
            content: '';
            position: absolute;
            display: block;
            width: 4px;
            height: 14px;
            top: 8px;
            background-color: #fff;
            transform-origin: 2px 12px;
        }
    }

    .navPrev {
        left: 0;

        &::before,
        &::after {
            left: 6px;
        }

        &::before {
            transform: rotate(45deg);
        }

        &::after {
            transform: rotate(135deg);
        }
    }

    .navNext {
        right: 0;

        &::before,
        &::after {
            right: 6px;
        }

        &::before {
            transform: rotate(-45deg);
        }

        &::after {
            transform: rotate(-135deg);
        }
    }
}
